html { 
    background-color:darkslategrey;
    background-size: cover;

    
    
}
h1 {
    color: white;
    text-align: center;
    font-style:obliquel;
}
.Knopf {
    background-color: white;
    color:rgb(44, 73, 73) ;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: fit-content + 10px;
    height: fit-content;
    font-size: larger;

}

.Knopf:hover {
    background-color:transparent;
    transform: scale(1.2);
    justify-content: center;
    transition: 0.5s;
    fill-opacity: 0.5;
    color: white;
    background-color: rgb(44, 73, 73);
    
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out, color 0.4s ease-in-out;
    
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#inside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(40, 65, 65);
    border-radius: 60px
    ;
}

#outside {
    position: relative;
    font-size: 18px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 60px;
    display: flex; 
    justify-content: center; 
    display: block; 
    background-color: rgb(44, 73, 73);
}

#under{

    left: 0px;
    align-items: center;
    
    
}
#text1{
    flex-direction: column;
    display: flex;
    align-items: top;
    justify-content: center;
    gap : 20px;
    align-items: center;
    font-size: 200%;
    
}
