body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.header1 {
  text-align: center;
  margin-top: 24px;
}

.circle-container {
  width: 600px;
  height: 600px;
  position: relative;
  margin-top: 32px;
}

.circle-container button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: #a94d4d;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  cursor: pointer;
}

#spin-button {
  background: #4d94a9;
  border-radius: 10%;
  width: 100px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}